# Capain Praktikum 1
Diharapkan mahasiswa/i setelah mengikuti praktikum 1 - PBO, mampu memahami & mengimplementasikan :
1. Class
2. Variable
3. Method Getter & Setter
4. Looping List
5. Dataframe Sederhana

Referensi :
1. https://www.pythonindo.com/pemrograman-berorientasi-objek-di-python/
2. Guttag, John V. Introduction to Computation and Programming Using Python: With Application to Computational Modeling and Understanding Data. MIT Press, 2021.

## Class

In [1]:
class Karyawan:
    jumlah_karyawan = 0

    def __init__(self, nama, gaji):
        self.nama = nama
        self.gaji = gaji
        Karyawan.jumlah_karyawan = Karyawan.jumlah_karyawan + 1

    def tampilkan_jumlah(self):
        print("Total karyawan:", Karyawan.jumlah_karyawan)

    def tampilkan_profil(self):
        print("Nama :", self.nama)
        print("Gaji :", self.gaji)
        print()

## Membuat Object dari Class (Instansiasi)

In [ ]:
# Membuat objek pertama dari kelas Karyawan
karyawan1 = Karyawan("Sarah", 1000000)

# Membuat objek kedua dari kelas Karyawan
karyawan2 = Karyawan("Budi", 2000000)

## Mengakses Method/Function dari Object

In [ ]:
karyawan1.tampilkan_profil()
karyawan2.tampilkan_profil()
print("Total karyawan :", Karyawan.jumlah_karyawan)

Nama : Sarah
Gaji : 1000000

Nama : Budi
Gaji : 2000000

Total karyawan : 2

## Class dengan Method Getter & Setter

In [ ]:
import datetime

class Person(object):
    def __init__(self, name):
        """Create a person"""
        self.name = name
        try:
            lastBlank = name.rindex(' ')
            self.lastName = name[lastBlank+1:]
        except:
            self.lastName = name
            self.birthday = None
            
    def getName(self):
        """Returns self's full name"""
        return self.name
    
    def getLastName(self):
        """Returns self's last name"""
        return self.lastName

    def setBirthday(self, birthdate):
        """Assumes birthdate is of type datetime.date
        Sets self's birthday to birthdate"""
        self.birthday = birthdate
        
    def getBirthday(self):        
        return self.birthday

    def getAge(self):
        """Returns self's current age in days"""
        if self.birthday == None:
            raise ValueError
        return (datetime.date.today() - self.birthday).days
    
    def __lt__(self, other):
        """Returns True if self precedes other in alphabetical
        order, and False otherwise. Comparison is based on last
        names, but if these are the same full names are
        compared."""
        if self.lastName == other.lastName:
            return self.name < other.name
        return self.lastName < other.lastName
    
    def __str__(self):
        """Returns self's name"""
        return self.name

## Membuat object dari Class (Instansiasi)

In [ ]:
me = Person('MichaelG uttag')
him = Person('Barack Hussein Obama')
her = Person('Madonna')
print(him.getName())
print(him.getLastName())

me.setBirthday(datetime.date(1991, 8, 4))
him.setBirthday(datetime.date(1996, 8, 16))
her.setBirthday(datetime.date(1994, 8, 16))

print(him.getName(), 'is', him.getAge(), 'days old')

Barack Hussein Obama
Obama
Barack Hussein Obama is 8995 days old

## Mengakses method getBirthday() dari tiap Object

In [ ]:
print(him.getBirthday())
print(her.getBirthday())
print(me.getBirthday())

1996-08-16
1994-08-16
1991-08-04

## Membuat List dari Object

In [ ]:
personsList = [me, him, her]
for person in personsList:
    print(person)
print()

personsList.sort()
for person in personsList:
    print(person)

Michael Guttag
Barack Hussein Obama
Madonna

Michael Guttag
Madonna
Barack Hussein Obama

## Membuat DataFrame dari Object

In [ ]:
import pandas as pd
import numpy as np

dfPerson = pd.DataFrame([[me.getName(), me.getBirthday(), me.getAge()], 
                         [him.getName(), him.getBirthday(), him.getAge()], 
                         [her.getName(), her.getBirthday(), her.getAge()], ],
                        columns=['Nama', 'Tanggal Lahir', 'Days Old'])
dfPerson

                   Nama Tanggal Lahir  Days Old
0        Michael Guttag    1991-08-04     10834
1  Barack Hussein Obama    1996-08-16      8995
2               Madonna    1994-08-16      9726