# Capain Praktikum 7a

Diharapkan mahasiswa/i setelah mengikuti praktikum 5 - PBO, mampu memahami & mengimplementasikan :

1. Python MySQL
2. Create, Read, Update dan Delete data di MySQL menggunakan Python

Referensi :
1. https://www.w3schools.com/python/python_mysql_getstarted.asp
2. https://www.petanikode.com/python-mysql/
3. https://realpython.com/python-mysql/

# Library

In [1]:
!pip install mysql-connector

Requirement already satisfied: mysql-connector in c:\users\ilyas_\anaconda3\lib\site-packages (2.2.9)

# Barang Service

In [2]:
import mysql.connector

class Barang_Service:
    
    def __init__(self):        
        self.conn = None

    def get_koneksi_db(self):
        self.conn = mysql.connector.connect(host="localhost" ,
                                            user="root",
                                            password="",
                                            database="warung")
        if self.conn.is_connected():
            print("Berhasil terhubung ke database")
        
        return self.conn

    def insert_data(self, nama_barang, kuantitas, harga_beli, harga_jual):
        
        koneksi_db = self.get_koneksi_db()
        cursor = koneksi_db.cursor()
        
        sql = "INSERT INTO barang (nama_barang, kuantitas, harga_beli, harga_jual) VALUES (%s, %s, %s, %s)"
        val = (nama_barang, kuantitas, harga_beli, harga_jual)
        
        cursor.execute(sql, val)

        koneksi_db.commit()

        print("{} data ditambahkan".format(cursor.rowcount))
        self.tampilkan_data()
        
    def update_data(self, nama_barang, kuantitas, harga_beli, harga_jual, id_barang):
        koneksi_db = self.get_koneksi_db()
        cursor = koneksi_db.cursor()
        
        sql = "UPDATE barang set nama_barang=%s, kuantitas=%s, harga_beli=%s, harga_jual=%s WHERE id_barang=%s"
        val = (nama_barang, kuantitas, harga_beli, harga_jual, id_barang)
        cursor.execute(sql, val)

        koneksi_db.commit()

        print("{} data diupdate".format(cursor.rowcount))
        self.tampilkan_data()

    
    def delete_data(self, id_barang):
        koneksi_db = self.get_koneksi_db()
        cursor = koneksi_db.cursor()
        
        sql = "DELETE FROM barang WHERE id_barang=%s"
        val = (id_barang, )
        cursor.execute(sql, val)

        koneksi_db.commit()

        print("{} data dihapus".format(cursor.rowcount))
        self.tampilkan_data()
    
    def tampilkan_data(self):
        koneksi_db = self.get_koneksi_db()
        cursor = koneksi_db.cursor()

        sql = "SELECT * FROM barang"
        cursor.execute(sql)

        results = cursor.fetchall()

        for data in results:
            print(data)

# Insert Data

In [5]:
print("==========Insert Data===========")
Barang_Service().insert_data("Panadol", 500, 7500, 12000)

==========Insert Data===========
Berhasil terhubung ke database
1 data ditambahkan
Berhasil terhubung ke database
(2, 'Mie Sedap Rendang Istimewa', 1, 2000, 2500)
(4, 'Mie Sedap Ayam Spesial', 100, 2000, 2500)
(6, 'Mie Sedap Soto', 100, 2000, 2500)
(7, 'Mie Sedap Soto', 100, 2000, 2500)
(8, 'Mie Sedap Soto', 100, 2000, 2500)
(9, 'Mie Sedap Soto', 100, 2000, 2500)
(10, 'Bango 750 mL', 125, 1000, 1500)
(11, 'Mie Sedap Soto', 100, 2000, 2500)
(12, 'Mie Sedap Soto', 100, 2000, 2500)
(16, 'Mie Sedap Soto', 100, 2000, 2500)
(17, 'Oskadon', 125, 1000, 1500)
(19, 'Oskadon', 125, 1000, 1500)
(20, 'Oskadon', 125, 1000, 1500)
(21, 'Oskadon', 125, 1000, 1500)
(22, 'Oskadon', 125, 1000, 1500)
(23, 'Wipol Lantai 1 Liter', 125, 1000, 1500)
(24, 'Oskadon', 125, 1000, 1500)
(25, 'Oskadon', 125, 1000, 1500)
(26, 'Mie Sedap Rawon', 125, 1000, 1500)
(27, 'Bango 750 mL', 125, 1000, 1500)
(28, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(29, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(30, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(31, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(32, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(33, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(34, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(35, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(37, 'Oskadon', 125, 1000, 1500)
(38, 'Panodal', 500, 7500, 12000)
(39, 'Panadol', 500, 7500, 12000)

# Update Data

In [6]:
print("==========Update Data===========")
Barang_Service().update_data("Mie Sedap Soto Spesial", 125, 1000, 1500, 38)

==========Update Data===========
Berhasil terhubung ke database
1 data diupdate
Berhasil terhubung ke database
(2, 'Mie Sedap Rendang Istimewa', 1, 2000, 2500)
(4, 'Mie Sedap Ayam Spesial', 100, 2000, 2500)
(6, 'Mie Sedap Soto', 100, 2000, 2500)
(7, 'Mie Sedap Soto', 100, 2000, 2500)
(8, 'Mie Sedap Soto', 100, 2000, 2500)
(9, 'Mie Sedap Soto', 100, 2000, 2500)
(10, 'Bango 750 mL', 125, 1000, 1500)
(11, 'Mie Sedap Soto', 100, 2000, 2500)
(12, 'Mie Sedap Soto', 100, 2000, 2500)
(16, 'Mie Sedap Soto', 100, 2000, 2500)
(17, 'Oskadon', 125, 1000, 1500)
(19, 'Oskadon', 125, 1000, 1500)
(20, 'Oskadon', 125, 1000, 1500)
(21, 'Oskadon', 125, 1000, 1500)
(22, 'Oskadon', 125, 1000, 1500)
(23, 'Wipol Lantai 1 Liter', 125, 1000, 1500)
(24, 'Oskadon', 125, 1000, 1500)
(25, 'Oskadon', 125, 1000, 1500)
(26, 'Mie Sedap Rawon', 125, 1000, 1500)
(27, 'Bango 750 mL', 125, 1000, 1500)
(28, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(29, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(30, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(31, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(32, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(33, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(34, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(35, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(37, 'Oskadon', 125, 1000, 1500)
(38, 'Mie Sedap Soto Spesial', 125, 1000, 1500)
(39, 'Panadol', 500, 7500, 12000)

# Delete Data

In [7]:
print("==========Delete Data===========")
Barang_Service().delete_data(31)

==========Delete Data===========
Berhasil terhubung ke database
1 data dihapus
Berhasil terhubung ke database
(2, 'Mie Sedap Rendang Istimewa', 1, 2000, 2500)
(4, 'Mie Sedap Ayam Spesial', 100, 2000, 2500)
(6, 'Mie Sedap Soto', 100, 2000, 2500)
(7, 'Mie Sedap Soto', 100, 2000, 2500)
(8, 'Mie Sedap Soto', 100, 2000, 2500)
(9, 'Mie Sedap Soto', 100, 2000, 2500)
(10, 'Bango 750 mL', 125, 1000, 1500)
(11, 'Mie Sedap Soto', 100, 2000, 2500)
(12, 'Mie Sedap Soto', 100, 2000, 2500)
(16, 'Mie Sedap Soto', 100, 2000, 2500)
(17, 'Oskadon', 125, 1000, 1500)
(19, 'Oskadon', 125, 1000, 1500)
(20, 'Oskadon', 125, 1000, 1500)
(21, 'Oskadon', 125, 1000, 1500)
(22, 'Oskadon', 125, 1000, 1500)
(23, 'Wipol Lantai 1 Liter', 125, 1000, 1500)
(24, 'Oskadon', 125, 1000, 1500)
(25, 'Oskadon', 125, 1000, 1500)
(26, 'Mie Sedap Rawon', 125, 1000, 1500)
(27, 'Bango 750 mL', 125, 1000, 1500)
(28, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(29, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(30, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(32, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(33, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(34, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(35, 'Mie Sedap Soto Madura', 125, 1000, 1500)
(37, 'Oskadon', 125, 1000, 1500)
(38, 'Mie Sedap Soto Spesial', 125, 1000, 1500)
(39, 'Panadol', 500, 7500, 12000)