# Capain Praktikum 3

Diharapkan mahasiswa/i setelah mengikuti praktikum 3 - PBO, mampu memahami & mengimplementasikan :

1. Enumerasi

Referensi :
1. https://realpython.com/python-enumerate/#iterating-with-for-loops-in-python

# Looping

In [2]:
nama_mahasiswa = ["andy", "bagus", "cindy", "deny"]

for value in nama_mahasiswa:
    print(value)

andy
bagus
cindy
deny

# Looping dan Enumerasi

In [3]:
for index, value in enumerate(nama_mahasiswa):
    print(index, value)

0 andy
1 bagus
2 cindy
3 deny

# Manfaat Enumerasi 1

In [4]:
users = ["Test User", "Real User 1", "Real User 2"]
for index, user in enumerate(users):
    if index == 0:
        print("Extra verbose output for:", user)
    print(user)

Extra verbose output for: Test User
Test User
Real User 1
Real User 2

# Manfaat Enumerasi 2

In [5]:
def even_items(iterable):
    """Return items from ``iterable`` when their index is even."""
    values = []
    for index, value in enumerate(iterable, start=1):
        if not index % 2:
            values.append(value)
    return values

numeric = list(range(1, 21))
alphabet = "abcdefghijklmnopqrstuvwxyz"

print("Numeric : ",numeric)
print("Numeric Even Only : ", even_items(numeric))
print("")
print("Alphabet : ",alphabet)
print("Alphabet Even Only : ", even_items(alphabet))

Numeric :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
Numeric Even Only :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Alphabet :  abcdefghijklmnopqrstuvwxyz
Alphabet Even Only :  ['b', 'd', 'f', 'h', 'j', 'l', 'n', 'p', 'r', 't', 'v', 'x', 'z']